<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="/css/basic.min.css">
    <link rel="stylesheet" href="/css/aboutus.css">
    <title>Document</title>
</head>

<body>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src =
                'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=772833366242667&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>


    <nav>
        <div class="nav-wrapper  grey darken-4">
            <a href="#!" class="brand-logo">Logo</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="/">Live Events</a>
                </li>
                <li>
                    <a href="/career">Career</a>
                </li>
                <li>
                    <a href="/privacy">Privacy</a>
                </li>
                <li>
                    <a href="/terms">Terms</a>
                </li>

            </ul>

            <ul class="side-nav" id="mobile-demo">
                <li>
                    <a href="/">Live Events</a>
                </li>
                <li>
                    <a href="/career">Career</a>
                </li>
                <li>
                    <a href="/privacy">Privacy</a>
                </li>
                <li>
                    <a href="/terms">Terms</a>
                </li>


            </ul>
        </div>
    </nav>
    <div class="aboutme">
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card-panel teal">
                    <p class="white-text">Founded in March 2018, we aim to create a platform where, unlike todays realtiy TV shows based of a baised
                        viewer criteria. Sometime we really feel, as a human being i am saying, we are not getting enough
                        chances in out life.
                    </p>
                </div>
            </div>
        </div>
    </div>




    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>
        $(".button-collapse").sideNav();
    </script>
</body>

</html>