<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">


    <title>Hello, world!</title>
</head>

<body>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '772833366242667',
                xfbml: true,
                version: 'v2.12'
            });
            FB.AppEvents.logPageView();
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>


    <nav class="navbar navbar-expand-lg navbar-light bcolor">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a id="link-col" class="nav-link" href="#">Live
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="link-col" class="nav-link" href="#">Up-Comming</a>
                </li>
                <li class="nav-item">
                    <a id="link-col" class="nav-link" href="#">Winner</a>
                </li>
                <li class="nav-item">
                    <a id="link-col" class="nav-link" href="#">Old Contest</a>
                </li>
                <li class="nav-item">
                    <a id="fblogin" title="Please login to continue" data-tippy-theme="honeybee" href="/auth/facebook">
                        <img src="/css/img/fblogin.png" class="img-fluid">
                    </a>

                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 des">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card mb-3 mt-3">
                            <img class="card-img-top" src="/css/img/Retro-Mic.jpg" alt="Card image cap">
                            <div class="card-body text-center">
                                <h5 class="card-title">#KIIT Darpan</h5>
                                <p class="card-text">Have the guts to face the darpan</p>

                                <a class="btn btn-dark event" href="/events/sing/1" role="button">Compete</a>
                                <a role="button" class="btn btn-outline-success">View</a>
                            </div>
                            <div class="card-footer">
                                <ul id="example">
                                    <li>
                                        <span class="days">00</span>
                                    </li>
                                    <li class="seperator">:</li>
                                    <li>
                                        <span class="hours">00</span>
                                    </li>
                                    <li class="seperator">:</li>
                                    <li>
                                        <span class="minutes">00</span>
                                    </li>
                                    <li class="seperator">:</li>
                                    <li>
                                        <span class="seconds">00</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card mb-3 mt-3">
                            <img class="card-img-top" src="/css/img/s2.png" alt="Card image cap">
                            <div class="card-body text-center">
                                <h5 class="card-title">#Selfie Challange</h5>
                                <p class="card-text">Let me take a selfie..!!!</p>


                                <a class="btn btn-dark event" href="/events/selfie/1" role="button">Compete</a>
                                <a role="button" class="btn btn-outline-success">View</a>

                            </div>
                            <div class="card-footer">
                                <ul id="example">
                                    <li>
                                        <span class="days">00</span>
                                    </li>
                                    <li class="seperator">:</li>
                                    <li>
                                        <span class="hours">00</span>
                                    </li>
                                    <li class="seperator">:</li>
                                    <li>
                                        <span class="minutes">00</span>
                                    </li>
                                    <li class="seperator">:</li>
                                    <li>
                                        <span class="seconds">00</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card text-white bg-secondary mb-3 mt-3" style="max-width: 30rem;">
                            <div class="card-header">Header</div>
                            <div class="card-body">
                                <h5 class="card-title">Secondary card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card text-white bg-secondary mb-3" style="max-width: 30rem;">
                            <div class="card-header">Header</div>
                            <div class="card-body">
                                <h5 class="card-title">Secondary card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="col-md-3 des">
                sfdd
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/tippy.js@2.2.0/dist/tippy.all.min.js"></script>
    <script src="/libs/jquery.countdown.min.js"></script>
    <script src="/javascript/timer.js"></script>
    <script src="/javascript/ajaxreq.js"></script>

</body>

</html>