/* .action{
  display: flex;
  justify-content: center;
  align-content: space-around;
  padding: 5px !important;
}

.action i{
  padding-left: 15px; 
}
.action a{
  padding-left: 10px; 
}
.card-action{
 padding: 5px !important;

}
.action1{
  border-right: 1px solid rgb(190, 190, 190); 
}
.action2{
  border-right: 1px solid rgb(190, 190, 190); 
} */

.action a{
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  padding: 5px 5px !important;
  width: 100%;
  border-radius:8px; 
}

.action span{
  padding-left: 8px;
}
.card-action{
 
 padding: 5px !important;

}
.inner-row{
  margin-bottom:0px; 
  }
  .outer-row{
   margin: 2%;
  }
.inner-row .col{
  padding: 0px 2px !important;
}

.share{
  width: 100%;
}

.fav{
  color: rgba(13, 145, 8, 0.699);
  z-index: 0;
}
.laugh{
  color: rgba(255, 2, 2, 0.699);
}
.down{
  color: rgba(44, 12, 160, 0.699);
}

.imageClick{
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 2;

  /* fixes overlap error in IE7/8, 
     make sure you have an empty gif */
 
}