.navbar{
    background-color:  #375e97; 
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
  margin-bottom: 1rem;
}
.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;  
}
 #link-col{
     color: white;
     font-size: 20px;
     border-bottom: 2px solid transparent;
 }
 #link-col:hover{
    margin: 0px;
    border-bottom: 2px solid #ffbb00;  
 }

.des{
    border:1px solid black;
}
